<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartnote">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartNote"
        android:theme="@style/Theme.SmartNote"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".notesUI.CreateNoteActivity"
            android:label="Создать заметку"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Поддержка динамических ярлыков -->
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
    </application>
</manifest>